<div id="wrapper">
<div *ngIf="!isLoginPage()">
  <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-2" style="height: 100%">
    <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
      <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-school"></i></div>
      <div class="sidebar-brand-text mx-3"><span>School</span></div>
    </a>
    <hr class="sidebar-divider my-0">
      <ul class="navbar-nav text-light" id="accordionSidebar">
        <li class="nav-item">
          <a *ngIf="this.isStudent() || this.isTeacher()" class="nav-link" routerLink="/my-profile"><i class="far fa-user-circle"></i><span>Profile</span></a>
          <a class="nav-link" routerLink="courses" ><i class="fas fa-book"></i><span>Courses</span></a>
          <a class="nav-link" routerLink="students"><i class="icon ion-android-people"></i><span>Students</span></a>
          <a class="nav-link" routerLink="teachers"><i class="fas fa-chalkboard-teacher"></i><span>Teachers</span></a>
          <a class="nav-link" routerLink="/" (click)="this.logout()"><i class="fas fa-user-circle"></i><span>Log out</span></a>
          <!-- <a class="nav-link" routerLink="/courses/events-list/:id"><i class="icon ion-calendar"></i><span>Schedule</span></a> -->
        </li>
      </ul>
      <!-- <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div> -->
    </div>
  </nav>
</div>
  <div class="d-flex flex-column" id="content-wrapper">
    <router-outlet></router-outlet>
  </div>
</div>



