

<body id="page-top">
<div id="wrapper">
<div class="d-flex flex-column" id="content-wrapper">
<div id="content">
  <div class="container-fluid">
    <h2 class="text-dark mb-4" style="padding-top: 25px;">Teachers</h2>
    <div class="card shadow">
      <div class="card-header py-3">
        <p class="text-primary m-0 font-weight-bold">Teacher List</p>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="text-md-right dataTables_filter" id="dataTable_filter">
              <input type="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Search for lastname" [(ngModel)]="lastName" (keyup)="getByLastName()">
              <label></label>
            </div>
          </div>
          <div *ngIf="this.isAdmin()" class="col-lg-6 offset-lg-0">
            <a class="btn btn-outline-danger btn-icon-split" role="button">
              <span class="text-red-50 icon">
                <i class="fas fa-trash"></i>
              </span>
              <span class="text-black text" (click)="deleteAllTeachers()">Delete all</span>
            </a>
            <a class="btn btn-outline-success btn-icon-split" role="button" style="margin-left: 1%;">
              <span class="text-green-50 icon">
                <i class="fas fa-check"></i>
              </span>
              <span class="text-black text" (click)="openDialog(teacherdialog, teacher)">Create new teacher</span>
            </a>
          </div>
        </div>
        <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
          <table class="table my-0" id="dataTable">
            <thead>
              <tr>
                <th>Name <img (click)="sortByName()" src="assets/img/sort.png"></th>
                <th>Email</th>
                <th>Phone</th>
                <th style="width: 20px;"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let teacher of teachers | paginate: { itemsPerPage: 6, currentPage: p }">
                <td>{{ teacher.firstName }} {{ teacher.lastName }}</td>
                <td>{{ teacher.email }}</td>
                <td>{{ teacher.phoneNumber }}</td>
                <td>
                  <div class="btn-group">
                    <!-- <button class="btn btn-primary" type="button">View</button> -->
                    <button class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" type="button"></button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" (click)="deleteTeacher(teacher.id)">Delete</a>
                      <a class="dropdown-item" (click)="openDialog(teacherdialog, teacher)">Edit</a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td>
                  <strong>Name</strong>
                </td>
                <td>
                  <strong>Email</strong>
                </td>
                <td>
                  <strong>Phone</strong>
                </td>
                <td>
                  <strong></strong>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
        <pagination-controls (pageChange)="p = $event" autoHide="true"></pagination-controls>
      </div>
    </div>
  </div>
</div>
</div>

<ng-template #teacherdialog>
  <form class="user">
    <div class="form-group row">
      <div style="padding: 5%">
        <h2 class="text-dark" style="padding-top: 3%">{{!teacher.id ? "Create Teacher" : "Edit Teacher"}}</h2>
        <input class="form-control" type="text" id="firstName" placeholder="First Name" name="firstName" value={{teacher.firstName}} [(ngModel)]="teacher.firstName" style="margin-bottom: 5%;">
        <input class="form-control" type="text" id="lastName" placeholder="Last Name" name="lastName" value={{teacher.lastName}} [(ngModel)]="teacher.lastName" style="margin-bottom: 5%">
        <input class="form-control" type="email" id="email" placeholder="Email" name="email" value={{teacher.email}} [(ngModel)]="teacher.email" style="margin-bottom: 5%;">
        <input class="form-control" type="text" id="phoneNumber" placeholder="Phone Number" name="phoneNumber" value={{teacher.phoneNumber}} [(ngModel)]="teacher.phoneNumber" style="margin-bottom: 5%;">
        <button class="btn btn-primary btn-block text-white btn-user" type="submit" (click)="editTeacher()" *ngIf="teacher.id">Edit Teacher</button>
        <button class="btn btn-primary btn-block text-white btn-user" type="submit" (click)="saveTeacher()" *ngIf="!teacher.id">Create Teacher</button>
        <!-- <img src="assets/img/book-icon-open-illustration-vector-103113738.jpg" style="width: 250px;"> -->
      </div>
      <!-- <div style="padding: 5%">
        <h2 class="text-dark" style="padding-top: 3%">Create new course</h2>
        <input class="form-control" type="text" id="courseName" placeholder="Name" name="courseName" value={{course.name}} [(ngModel)]="course.name" style="margin-bottom: 5%;">
        <input class="form-control" type="text" id="description" placeholder="Description" name="description" [(ngModel)]="course.description" style="margin-bottom: 5%">
        <input class="form-control" type="email" id="points" placeholder="Points" name="points" [(ngModel)]="course.points" style="margin-bottom: 5%;">
        <button class="btn btn-primary btn-block text-white btn-user" type="submit" (click)="saveCourse()">Create Course</button>
      </div> -->

    </div>
  </form>
</ng-template>
